article.shopping-list-modal form {
  display: flex;
  flex-direction: column;
  border: none;

  & label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: small;
  }

  & fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
  }

  & input[type="text"] {
    text-align: justify;
    margin-top: 0.5em;

    &:invalid {
      outline: 1px solid var(--error);
      border-radius: 4px;
    }

  }
}
