header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--yellow);
    color: rgba(228 228 228 / 87%);

    a{
        text-decoration: none;
        color: var(--font-white);
    }

    & a.button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 15px 1em;
        background-color: transparent;
        border: 0.5px solid var(--font-white);
        border-radius: 6px;
        font-size: 1.5em;
        font-family: 'Dancing Script', cursive;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            background-color:var(--font-white);
            color: var(--yellow);
        }
    }
}