section.product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    min-width: max-content;
    border: none;
    border-bottom: 1px solid var(--font-black);
    background-color: transparent;
    font-size: 1em;
    color: var(--font-white);
}